<div class="teams-container">
    <div class="meny-bar shadow">
        <div class="meny-items">
            <img src="assets/Arsenal.png" alt="">
        </div>
        <div class="meny-items">Overview</div>
        <div class="meny-items">Squad</div>
        <div class="meny-items">Fixtures</div>
        <div class="meny-items">Stats</div>
    </div>
</div>