<div class="teams-container">
    
</div>

{{!-- <div class="teams-container">
     <div class="meny-bar shadow">
        <div class="meny-items">
            <div class="dropdown">
                <button class="dropbtn">Change Season</button>
                <div class="dropdown-content">
                    {{#each seasons}}
                        <button class="stats-item" value="{{this.seasonId}}">{{this.seasonLabel}}</button>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div> --}}