/* Assign grid instructions to our parent grid container */
html,body {
    height: 100vh;
    margin: 0;
  }
.grid-container {
    height:auto;
    font-family: Sans-serif;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-auto-columns: minmax(min-content, max-content);
    grid-template-areas:
      "sidenav headers"
      "sidenav main"
      "sidenav main";
}

.sidenav {
    grid-area: sidenav;
    background-color: $sidenav-color;
}

.main {
    grid-area: main;
    background-color: $body-color;
}

.footer {
    grid-area: footer;
}
.header {
    grid-area: headers;

  button {
    background-color: inherit;
    border: none;
    outline: none;
    height: 40px;
    width: 40px;
    img {
        height: inherit;
        width: inherit;
    }
  }
}

.header, .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: #161b21;
    color: $text-color;
}

.sidenav {
    display: flex; /* Will be hidden on mobile */
    flex-direction: column;
    grid-area: sidenav;
    background-color: $sidenav-color;
    visibility: visible;
    transition:visibility 1s linear
}

.sidenav__icon {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    button {
            grid-area: 1 / 3 / 2 / 4;
            height: 30px;
            width: 30px;
            justify-self: right;
            margin-top: 10px;
            margin-right: 10px;
            background-color: inherit;
            border: none;
            outline: none;
            img {
                height: inherit;
                width: inherit;
                margin-right: inherit;
            }
    }
}
.sidenav__list {
    padding: 0;
    margin-top: 65px;
    list-style-type: none;
}

.sidenav__list-item {
    padding: 20px 20px 20px 40px;
}

.sidenav__list-item a {
  color: $text-color
}

.sidenav__list-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}