<aside class="sidenav">
    <ul class="sidenav__list">
      <li class="sidenav__list-item">
        <a href="/">Home</a>
      </li>
      <li class="sidenav__list-item">
        <a href="/table">Table</a>
      </li>
      <li class="sidenav__list-item">
        <a href="/teams">Teams</a>
      </li>
      <li class="sidenav__list-item">
        <a href="/players">Players</a>
      </li>
      <li class="sidenav__list-item">
        <a href="/fixtures">Fixtures</a>
      </li>

      <li class="sidenav__list-item">
        <button class="spc-btn">Press Me</button>
      </li>
    </ul>
</aside>
