<header class="header">
    <div class="header__button">
        <button class="nav__open">
            <img src="icons/menu.png" alt="">
        </button>
    </div>
    <div class="header__avatar">Your face</div>
</header>